<!DOCTYPE html>
<html>
  <head>
    <title>Full MEAN Stack Task List</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

  	<main class="container">
    <h1>Full MEAN Stack Task List</h1>

    <section class="jumbotron">
    	<h3>Add a new Task</h3>
    	<form class="form-inline">
	    	<label for="title">Title:</label>
	    	<input />
	    	<button class="btn btn-success">Add</button>
    	</form>
    </section>
    <section>
	    <h3>Current Tasks</h3>
	    <ul class="list-group">

	    </ul>
    </section>

    </main>

    <!-- js -->
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
  </body>
</html>
